<!DOCTYPE html>
<html lang="en">
    <%- include('../public/head.ejs', {titulo: '404'}) %>
<style>
    body{
        background-color: #111;
        color: #FFF;
        font-family: monospace;
        font-size: .8em;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <h1><%= frase %></h1>
</body>
</html>