<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: #111;
        color: #FFF;
        font-family: monospace;
        font-size: .8em;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333;
        width: 80%;
        height: 60vh;
        margin: auto;
    }
</style>
<body>
    <h1><%= frase %></h1>
    <div><%= contenido %></div>
</body>
</html>